
body{
    background-color: black;
}.box1{
    width: 800px;
    height: 350px;
    border: 1px solid grey;
   background-color: white;
   
    margin-top: 50px;
    margin-left: 350px;
    position: relative;
    top: 10px;
}
.box1 img{
    height: 350px;
    width: 250px;
    margin-left: 68.5%;
    margin-top: 0%;
   
   
  
}
 .para1{

font-size: 30px;
font-family: Arial;
font-weight: bold;
color: rgb(10, 6, 6);
top: 0;
position: absolute;
margin-top: 15%;
margin-left: 25%;
}
.para2{
    color: aliceblue;
    margin-left: 35%;
}
.heading1{
    color: aliceblue;
    text-align:center ;
    font-weight: 800;
 font-family: Arial;
}
.para3{
    font-size: small;
}
hr{
  margin-right: 55%;
}

